services:
  postgres:
    image: postgres:18.1
    container_name: cps-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: campaign_plan_service
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local

